/* 769 ate 900 */
@media screen and (max-width: 900px) {
    .redeSocial ul {
        font-size: 12px;

        a {
            font-size: 13px;
        }
    }

    .menu ul {
        font-size: 11px;
    }

    .logo {
        width: 200px;
    }

    .text h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 12px;
    }

    .btnE {
        font-size: 10px;
    }

    .btnC {
        font-size: 10px;
    }

    /* banner */
    .bannerI {
        padding: 10px;
    }

    .bannerI .text {
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .bannerI .text h2 {
        font-size: 20px;
    }

    .bannerI .text h1 {
        font-size: 15px;
    }

    .bannerI .text h4 {
        font-size: 10px;
    }

    .bannerI .img img {
        width: 80%;
        height: auto;
    }

    /* carrosel */
    .carrosel {
        gap: 5px;
    }

    .carrosel::-webkit-scrollbar {
        display: none;
    }

    /* popular */
    .popular nav ul {
        align-items: center;
    }

    .popular nav ul li {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    /* destaque */
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 70%;
        margin-bottom: 20px;
    }

    .card img {
        max-width: 100%;
    }

    /* sobre */
    .sobre {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .faixa {
        display: none;
    }

    .sobre img {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .conteudo {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .conteudo h3,
    .conteudo h2,
    .conteudo p {
        padding: 10px 0;
    }

    .cardS {
        flex-direction: column;
        align-items: center;
    }

    .prof img {
        width: 50px;
        height: 50px;
    }
}

/* 361 ate 768 */
@media screen and (max-width: 768px) {
    .abrir-menu {
        display: block;
    }

    .nav-links.menu-ativo {
        display: block;
    }

    .nav-links li {
        display: none;
    }

    .nav-links.menu-ativo li {
        display: block;
    }

    .fechar-menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
    }

    .menu-ativo .fechar-menu {
        display: block;
    }

    .menu-ativo .abrir-menu {
        display: none;
    }

    .redeSocial ul {
        font-size: 7px;
    }

    .logo {
        width: 150px;
    }

    .bannerI .text h2 {
        font-size: 12px;
    }

    .bannerI .text h1 {
        font-size: 15px;
    }

    .bannerI .text h4 {
        font-size: 10px;
    }

    .carrosel-img {
        width: 100px;
        height: 80px;
    }

    .popular nav ul {
        display: ruby;
    }

    .sobre img {
        width: 80%;
    }

    .cardText h4 {
        font-size: 18px;
    }

    /* conteudo */
    .conteudo h2 {
        font-size: 15px;
    }

    .conteudo h3 {
        color: #6A1B9A;
        font-size: 10px;
    }
}

/* 0 ate 360 */
@media screen and (max-width: 360px) {

    /* logo */
    .logo {
        width: 60px;
        background-image: url(../img/ms-icon-150x150.png);
    }

    /* banner */
    .bannerI {
        display: block;
    }

    .text h1 {
        font-size: 15px;
    }

    .text h2 {
        font-size: 10px;
    }

    .text h3 {
        font-size: 9px;
        padding: 15px;
    }

    /* menu hamburguer */
    .abrir-menu,
    .fechar-menu {
        display: block;
    }

    .abrir-menu {
        display: block;
    }

    .nav-links.menu-ativo {
        display: block;
    }

    .nav-links li {
        display: none;
    }

    .nav-links.menu-ativo li {
        display: block;
    }

    .fechar-menu {
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .menu-ativo .fechar-menu {
        display: block;
    }

    .menu-ativo .abrir-menu {
        display: none;
    }

    /* carrosel */
    .carrosel-img {
        width: 100px;
        height: 100px;
    }

    /* popular */
    .popular h3 {
        font-size: 16px;
    }

    .popular h2 {
        font-size: 20px;
    }

    /* destaque */
    .titulo-1 {
        width: 50%;
    }

    .titulo-2 {
        width: 38%;
    }

    .titulo-3 {
        width: 20%;
    }

    .titulo {
        font-size: 13px;
        text-align: center;
    }

    /* card prof */
    .professorI {
        width: 70px;
        height: 70px;
    }

    .btnE,
    .btnC {
        font-size: 7px;
    }

    /* conteudo */
    .conteudo p {
        font-size: 15px;
        line-height: 1.2;
    }
}